<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Bluetooth BLE สำหรับ Android 12+ -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />

    <uses-permission
        android:name="android.permission.BLUETOOTH_CONNECT" />

    <!-- Bluetooth สำหรับ Android รุ่นเก่า -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />

    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />

    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:maxSdkVersion="30" />

    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:maxSdkVersion="28" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application
        android:label="ESP32 Motor Control"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- Flutter Android V2 Embedding -->
        <activity
            android:name="io.flutter.embedding.android.FlutterActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <!-- Flutter V2 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

</manifest>
